# R
.Rproj.user/
.Rhistory
.RData
.Rprofile
*.Rproj
renv/
#!renv.lock

# Python
venv/
__pycache__/
*.pyc

# Data and outputs: ignore everything in data but keep the folder structure.
data/**
!data/
!data/**/
!data/**/.gitkeep
!data/.gitkeep

*.csv
!/bayesian_code/model_validation/pivot_combined.csv
!/bayesian_code/model_validation/pivot_combined2.csv
!/bayesian_code/model_validation/validation_results.csv
*.RData
*.gz
*.zip

# Mac/Linux/General
.DS_Store
